<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <p>Les bénéfices</p>
      <p>Saisissez l'occasion d'élargir votre clientèle</p>
    </div>
    <div class="col-4">
      <p>Alimevo vous guide</p>
      <p>Apprenez à vous protéger légalement, Maitrisez les risques</p>
    </div>
    <div class="col-4">
      <p>Les points fort</p>
      <p>Pensee et dispensée par des experts</p>
    </div>
  </div>
  <div class="row test">
    <div class="col-4">
      <p class="">3 millions de français allergiques</p>
      
    </div>
    <div class="col-4">
      <p class="">De plus en plus de francais concernés par leur alimentation</p>

    </div>
    <div class="col-4">
      <p class="">1/3 de flexitariens</p>
    </div>
  </div>
</div>

