<div class="container-fluid">
  <p class="h3">Je m'abonnne à la newsletter</p>
  <div class="row">

    <div class="col-4">
      <div class="form-group">
        <label for="usr">Name:</label>
        <input type="text" class="form-control" id="usr">
      </div>
    </div>
    <div class="col-2 test">
      <button type="submit" class="btn btn-primary btn-lg">Je m'abonne</button>
    </div>
  </div>
    <div class="row">
        <div class="col-6">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">En vous abonnant à notre newsletter, vous acceptez de recevoir nos derniers articles de blog par courrier <br />
        electronique et vous prenez connaissance de notre Politique de confidentialité. <br /> Vous pouvez vous désinscrire à tout moment à l'aide des liens de désinscription ou en vous contactant à l'adresse mail</label>
      </div>
    </div>   

</div>
  

