<div class="container">
  <div class="row">
    <div class="col-4">
      <p>La minute Coaching</p>
      <p>Pour vous lancer dans les régimes spécifiques</p>
    </div>
    <div class="col-4">
      <p>Formules Accompagnement</p>
      <p>Des formules au plus proche de vos besoins</p>
    </div>
    <div class="col-4">
      <p>Analyse Terrain</p>
      <p>Notre expertise à votre rencontre</p>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <p>Vous avez des questions précises:</p>
      <p>Obtenez des réponses en un rien de temps</p>
      <p>Contactez notre équipe d'experts dès maintenant</p>
    </div>
    <div class="col-4">
      <p>Décryptage efficace de votre carte</p>
      <p>Adaptation et sécurisation de votre offre</p>
      <p>Accompagnement sur mesure en toute sérénité</p>
    </div>
    <div class="col-4">
      <p>Conseils en hygiène alimentaire</p>
      <p>Analyse de vos méthode de travail</p>
      <p>Mises en situation & axes d'amélioration</p>
    </div>
  </div>
</div>
