<div class="container-fluid">
  <h3 class="text-center"> Certification et partenaires</h3>
  <div class="row">
    <div class="col-3">
      <img class="fit-picture"
           src="/../assets/Créacité.png"
           alt="Grapefruit slice atop a pile of other slices" />
    </div>
    <div class="col-3">
      <img class="fit-picture"
           src="/../assets/Créacité.png"
           alt="Grapefruit slice atop a pile of other slices" />
    </div>
    <div class="col-3">
      <img class="fit-picture"
           src="/../assets/CCI.png"
           alt="Grapefruit slice atop a pile of other slices" />
    </div>
    <div class="col-3">
      <img class="fit-picture"
           src="/../assets/Data.png"
           alt="Grapefruit slice atop a pile of other slices" />
    </div>
  </div>
</div>
