<p class="h3 text-center"> Decouvrez nos formation</p>
<p class="text-center">Composées de différents modules - pour les professionnels de la restauration sans pré-requis - Tarif préférentiel à partir de 5 personnes inter ou intra entreprise</p>
<p  class="text-center">Tests de connaissances pré et post formation pour s'adapter à votre niveau et valider vos acquis</p>
<div class="container">
  <div class="row">
    <div class="col-6 col1">
      <p>Les Essentielles</p>
      <p>j'acquiers des connaissances de base</p>
      <p>j'apprends à mieux communiquer avec mes clients </p>
      <p>j'obtiens le label de confiance AlimEvo que j'appose sur ma devanture</p>
    </div>
    <div class="col-6">
      <p>Formation n°1 - 4heures - 70&/h</p>
      <p>Les enjeux liés aux allergies et intolérances alimentaire en restauration - module n°1</p>
    </div>
  </div>
  <div class="row test">
    <div class="col-12">
      <p class="text-center">Pour élargir mes connaissances <br /> Je profite de deux thématiques supplémentaires et j'acquiers davantage de compétences </p>
    </div>
  </div>
</div>


