<div class="row">
  <div class="col-4">

    <img class="fit-picture"
         src="/../assets/ICS-11.png"
         alt="Grapefruit slice atop a pile of other slices" />

  </div>

  <div class="col-4">

    <img class="fit-picture"
         src="../../assets/ICS-10.png"
         alt="Grapefruit slice atop a pile of other slices" />


  </div>
  <div class="col-4">
    <img class="fit-picture"
         src="/../assets/ICS-9.png"
         alt="Grapefruit slice atop a pile of other slices" />

  </div>
</div>
<div class="row">
  <div class="col-4">
    <p class="test">FORMEZ-MOI</p>
    <p>Développez votre activité <br/>Maitrisez les régimes spécifiques  <br /> Gagnez la confiance de votre clientéle </p>
    <p></p>
    
  </div>
  <div class="col-4">
    <p>SOLUTIONS D'ADAPTATION</p>
    <p>Bénéficiez de conseil culinaires <br /> Retravaillez vos plats aux côtés d'expertes <br /> Diversifiez votre offre, gardez votre identité</p>
  </div>
  <div class="col-4">
    <p>SOLUTIONS D'ADAPTATION</p>
    <p>Bénéficiez de conseil culinaires <br /> Retravaillez vos plats aux côtés d'expertes  <br /> Diversifiez votre offre, gardez votre identité</p>
  </div>
</div>
<div class="row">
  <div class="col-4">
    <button class="btn btn-primary">Je forme mon équipe</button>
  </div>
  <div class="col-4">
    <button class="btn btn-primary">Je forme mon équipe</button>
  </div>
  <div class="col-4">
    <button class="btn btn-primary">Je forme mon équipe</button>
  </div>
</div>


