<div class="container">
  <div class="row">
    <div class="col-2">
        <img src="assets\LogoFooter.png" alt="eazeaz" height="100px"
             width="100px" />

    </div>
    <div class="col-2 test2">
      <p>AlimEvo</p>
      <p>Hotel d'entreprise des Forges</p>
      <p>81 rue du Rhin Napoléon</p>
      <p>67100 Strasbourg</p>
    </div>
    <div class="col-2">
      <p>Actualité</p>
      <p>A propos</p>
      <p>Blog</p>
    </div>
    <div class="col-2">
      <p>Actualité</p>
      <p>A propos</p>
      <p>Blog</p>
    </div>
    <div class="col-2">
      <p>Formations</p>
      <p>Formules</p>
      <p>Calendrier</p>
    </div>
    <div class="col-2">
      Contact
      FAQ
      Témoignages
    </div>
  </div>
</div>
